// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    span.small {
        margin-left: 0.2rem !important;
    }
}

trix-editor {
    display: block !important;
    box-sizing: border-box !important;
    width: 100% !important;
    /*height: 2.4375rem !important;*/
    padding: 0.5rem !important;
    border: 1px solid #cacaca !important;
    margin: 0 0 1rem !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    color: #0a0a0a !important;
    background-color: #fefefe !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1) !important;
    border-radius: 0 !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

trix-editor:focus {
    border: 1px solid #8a8a8a !important;
    background-color: #fefefe !important;
    outline: none !important;
    box-shadow: 0 0 5px #cacaca !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
}

.event-img {
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    a {
        cursor: zoom-in;
    }
    img {
        width: 100%;
    }
}